block footer

	footer.site-footer
		.footer-top
			.container
				ul.footer-top__list
					li.loc 127254, г. Москва, ул. Добролюбова, 3, стр.1
					li.tel
						a(href="tel:8 (495) 532-10-30") 8 (495) 532-10-30
					li.email
						a(href="mailto:telemedservice@mail.ru") telemedservice@mail.ru
					li.social
						p Присоединяйтесь к нам:
						p.social__share
							a.vk(href="#")
							a.fb(href="#")
							a.ok(href="#")
							a.twit(href="#")
		.footer-bottom
			.container.cf
				p.copyright © 2016 Общество с ограниченной ответственностью «Аркан». Все права защищены.
				p.made-in Разработка сайта: 
					a(href="#" target="_blank") Beluga Labs
