extends _layout
block vars
	- var bodyClass = 'blog'
block content
	main.main-content.cf
		.container
			.princip-top.page-top(style="background-image: url(img/princip-top.jpg);")
				h1 Принцип работы<br>ПАК «Телемедик»
			.main-content__inner
				.content
					.partners-content
						.video-wrapper
							img(src="img/screen.jpg", alt="")
						h3 Процесс прохождения
						p Алгоритм процесса предрейсового и послерейсового Осмотра полностью соответствует порядку прописанному в Типовом положении, являющимся приложением к  Методическим рекомендациям (Организация и порядок проведения предрейсовых медицинских осмотров водителей автотранспортных средств) утвержденным Минздравом и Минтрансом 29 января 2002 года, а так же правилами проведения медицинского осмотра, утвержденного минздравим в 2015 году.
						.princip__list
							.princip-item.cf(style="background-image: url(img/princip1.png)")
								.princip-item__text
									p Водители, при прохождении осмотра, одновременно подходят к терминалам, установленным на пунктах выпуска и последовательно выполняют высвечивающиеся на экране подсказки по:
									p • замеру давления и пульса с помощью тонометра; 
									p • определению паров алкоголя в выдыхаемом воздухе, через алкотестер.
							.princip-item.cf(style="background-image: url(img/princip2.png)")
								.princip-item__text
									p Программное обеспечение (ПО)  автоматически архивирует полученные данные состояния здоровья. Фиксирует время с точностью до секунды. Прикрепляет к этим данным видеоролик прохождения Осмотра конкретным человеком. 
									p Для контроля за проведением Осмотров к базе данных возможно подключение сотрудников надзирательных органов: Минздрав, Минтранс, ГИБДД.
							.princip-item.cf(style="background-image: url(img/princip3.png)")
								.princip-item__text
									p Данные со многих Терминалов  передаются на рабочее место медицинского работника. Один медицинский работник, с помощью ПО установленного в ПАК, может обслуживать в течение 30–45 минут от 600 до 1000 водителей (в зависимости от квалификации), анализировать и контролировать изменения состояния их физиологических данных.
							.princip-item.cf(style="background-image: url(img/princip4.png)")
								.princip-item__text
									p Водители, у которых не обнаружено отклонений и которые на вопрос с экрана Терминала о жалобах на состояние здоровья, ответили отрицательно, получают допуск к работе с подписанием путевого листа ЭЦП дежурным медицинским работником.
									p При отклонениях или при наличии жалоб водитель не допускается к работе и ему распечатывается направление в поликлинику с ЭЦП дежурного медицинского работника на дополнительное и разрешенное законом обследование.
				aside.sidebar
					.last-posts
						p.heading Последние посты
						ul
							li.cf
								a.full-link(href="#")
								.img-side
									img(src="img/small-img.png", alt="")
								.text-side
									p.title(href="#") Начало повседневной работы по формированию...
									p.description Разнообразный и богатый опыт новая модель организационной 
							li.cf
								a.full-link(href="#")
								.img-side
									img(src="img/small-img.png", alt="")
								.text-side
									p.title(href="#") Начало повседневной работы по формированию...
									p.description Разнообразный и богатый опыт новая модель организационной 
							li.cf
								a.full-link(href="#")
								.img-side
									img(src="img/small-img.png", alt="")
								.text-side
									p.title(href="#") Начало повседневной работы по формированию...
									p.description Разнообразный и богатый опыт новая модель организационной 
							li.cf
								a.full-link(href="#")
								.img-side
									img(src="img/small-img.png", alt="")
								.text-side
									p.title(href="#") Начало повседневной работы по формированию...
									p.description Разнообразный и богатый опыт новая модель организационной 
							

					.widget-area
						img(src="img/fb-widget.png", alt="" style="display: block; max-width: 100%; height: auto")
					.sidebar__form
						.small-form
							p.heading Заказать звонок
							form
								input.text-box(type="text" placeholder="Имя")
								input.text-box(type="tel" placeholder="Телефон")
								.send-btn-wrap
									input.send-btn(type="submit" value="Отправить")








block inlineScripts